{% extends 'templates/oldtimer_base.html' %}
{% block title %}Home-{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/assets/masar_portal_oldtimer/oldtimer/css/style-home.css"/>
<style>
    .section1{
        background-image: url(/assets/masar_portal_oldtimer/oldtimer/image/Group\ 37262.png);
        background-repeat: repeat;
        background-position: center;
        background-size: cover;
        height:709px;
    }
    .bootstrap-select .btn:focus{
    outline: none !important;
    outline-offset:0px!important;
    border: none!important;
    box-shadow: none!important;
    }
    @media(max-width:767.5px){
        .section1{
            display: block!important;
            position: unset!important;
        }
        body{
            background-color: #F5F2F2;
        }
        #mobile-nav{
            background-color: #F5F2F2;
        }
    }

</style>

              <div class="section1">
                  <div class=" part1"></div>
                  <div class=" part2"></div>

              </div>

              <div class="section-slid" id="slid">

                  <div class="shop d-none d-md-block" data-wow-delay=".5s">
                      <a href="#" class="more">Shop Now</a>
                  </div>

                  <div class="container">
                      <div class="owl-carousel owl-1" id="myCarousel-slid" data-ride="carousel" data-interval="0">
                        {% for banners in banners %}
                          <div class="item wow">
                              <div class="row">
                                  <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                                      <div class="group content-txt">
                                          <h2 class="title wow fadeInRight">{{banners.banner_name}}</h2>
                                          <p class="desc wow fadeInRight">{{banners.description}}</div>
                                  </div>
                                  <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                                      <a href="#" class="active d-none d-md-block"> <img src="{{banners.image}}" alt="" class="wow ZoomIn"></a>
                                       <div class="shop d-block d-md-none" data-wow-delay=".5s">
                                          <a href="#" class="more">Shop Now</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          {% endfor %}

                      </div>



                  </div>
              </div>



              <div class="section2">

                      <div class="container">
                          <div class="row">
                              <div class="col-lg-8 col-md-6 col-sm-12 col-12 group">
                                  <div class="title wow fadeInRight">QUALITY</div>
                                  <div class="desc">Over 25 years ago, Baja Designs was founded with a
                                      passion and thirst for off road. Performance driven
                                      and race proven - Baja Designs engineers and
                                      manufactures American made products, using only
                                      the best components available, right here in San
                                      Diego, California.</div>
                                  <div class="more"><a href="#">Read More</a></div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12 col-12 top">
                                  <img src="/assets/masar_portal_oldtimer/oldtimer/image/1.png" style="z-index:1000;">
                              </div>
                          </div>
                      </div>


              </div>




              <div class="section3">
                  <!-- <div class="parallax"></div> -->


                  <div class="container">

                      <div class="row upper">
                          <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                              <img src="/assets/masar_portal_oldtimer/oldtimer/image/Mask Group 1.png">
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-12 col-12 group" >
                              <div class="title">LIGHTING ZONES EXPLAINED</div>
                              <div class="desc">We believe it’s not just about having the brightest lights,
                                      but using the right lights in the right way.Learn about the
                                      different lighting zones to achieve the absolute best
                                      lighting package
                              </div>
                              <div class="more"><a href="#">Read More</a></div>
                          </div>
                      </div>

                  </div>


              </div>



              <div class="section4">

                      <div class="container">
                          <div class="row">
                              <div class="col-lg-6 col-md-6 col-sm-12 col-12 group">
                                  <div class="title">VEHICLE SPECIFIC KITS</div>
                                  <div class="desc">We sell vehicle-specific lighting kits that are purpose- designed for what you drive. They’re available for
                                      many popular off-road automotive makes, including
                                      Ford, Chevy, Jeep, Toyota, Ram and more.</div>
                                  <div class="more"><a href="#">Read More</a></div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-12 col-12 top">
                                  <img src="/assets/masar_portal_oldtimer/oldtimer/image/3.png">
                              </div>
                          </div>
                      </div>


              </div>


              <div class="section5">
    <div class="container-fluid">
        <h2 class="text-center" >BLOGS</h2>
        <div class="owl-carousel" id="myCarousel-blogs">
          {% for blog in blog %}

            <div class="item">
                <div class=" img-overlay">
                    <img src="{{blog.meta_image}}" class="img-overlay-image">
                    <div class="overlay">
                        <div class="text">{{blog.title}}</div>
                    </div>
                </div>

                <p class="time">{{blog.published_on}}</p>
                <!-- <p class="title-post d-md-none d-block">{{blog.blog_intro}}</p> -->
                <p class="desc">{{blog.blog_intro}}</p>
            </div>
            {% endfor %}

        </div>

        <div class="text-center more"><a href="#">More Articles </a>

        </div>
    </div>
</div>



              <div class="section6 text-center">
                  <div class="container-fluid">
                      <h2 class="text-center" >OUR SERVICES</h2>
                      <div class="owl-carousel box" id="myCarousel-SERVICES">

                          <div class="item">
                              <img src="/assets/masar_portal_oldtimer/oldtimer/image/s6-1.png">
                              <p class="time">USERVICE</p>
                              <p class="desc">Being able to service your
                                  own equipment is a
                                  necessity when out on the
                                  trail or back home in your
                                  garage. Baja Designs set out
                                  to make a light that is easily

                              </p>

                              <div class="text-center more">
                                  <a href="#">Read More</a>
                              </div>
                          </div>

                          <div class="item">
                              <img src="/assets/masar_portal_oldtimer/oldtimer/image/s6-2.png">
                              <p class="time">MOISTUREBLOCK</p>
                              <p class="desc">Making sure the elements
                                  don’t damage the internals
                                  of your performance lights
                                  first and every light we
                                  produce works in the worst
                                  of conditions is core of our
                              </p>

                              <div class="text-center more">
                                  <a href="#">Read More</a>
                              </div>
                          </div>

                          <div class="item">
                              <img src="/assets/masar_portal_oldtimer/oldtimer/image/s6-3.png">
                              <p class="time">CLEARVIEW</p>
                              <p class="desc">ClearView™ is our
                                  proprietary optics, which
                                  are computer designed in- house by Baja Designs’ team
                                  of racing engineers who
                                  have first-hand knowledge
                              </p>

                              <div class="text-center more">
                                  <a href="#">Read More</a>
                              </div>
                          </div>


                      </div>







                  </div>
              </div>

{% endblock %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"
    integrity="sha512-Eak/29OTpb36LLo2r47IpVzPBLXnAMPAVypbSZiZ4Qkf8p/7S/XRG5xp7OKWPPYfJT6metI+IORkR5G8F900+g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="/assets/masar_portal_oldtimer/oldtimer/js/jquery.morecontent.js"></script>
    <script src="/assets/masar_portal_oldtimer/oldtimer/js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
<script>
// var header = document.getElementById("left-nav");
var btns = document.getElementsByClassName("nav-link");
for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function () {
        var current = document.getElementsByClassName("active");
        if (current.length > 0) {
            current[0].className = current[0].className.replace(" active", "");
        }
        this.className += " active";
    });
}
</script>
<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "280px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>
<script>

$('#myCarousel-slid').owlCarousel({
    interval: 0,
    loop: true,
nav: false,
dots: true,
    margin: 20,

    autoplay: true,

    autoplayTimeout: 7000,
    rtl: false,
    responsive: {
        0: {
            items: 1
        },
        600: {
            items: 1
        },
        800: {
            items: 1
        },
        1000: {
            items: 1
        }

    }
})
</script>

<script>

$('#myCarousel-blogs').owlCarousel({
    interval: 0,
    loop: true,
    margin: 20,
    nav: false,
    // navText: ['<a ><i class="far fa-arrow-left"></i> </a>', '<a ><i class="far fa-arrow-right"></i></a>'],

    autoplay: true,

    autoplayTimeout: 4000,
    rtl: false,
    responsive: {
        0: {
            items: 1
        },
        600: {
            items: 1
        },
        800: {
            items: 2
        },
        1000: {
            items: 3
        }

    }
})
</script>

<script>

$('#myCarousel-SERVICES').owlCarousel({
    interval: 0,
    loop: true,
    margin: 20,
    // nav: true,
    // navText: ['<a ><i class="far fa-arrow-left"></i> </a>', '<a ><i class="far fa-arrow-right"></i></a>'],

    autoplay: false,

    autoplayTimeout: 0,
    rtl: false,
    responsive: {
        0: {
            items: 1
        },
        600: {
            items: 1
        },
        800: {
            items: 2
        },
        1000: {
            items: 3
        }

    }
})
</script>

<script>
// Add active class to the current button (highlight it)
var header = document.getElementById("myDIV");
var btns = header.getElementsByClassName("btn-1");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function() {
  var current = document.getElementsByClassName("active");
  current[0].className = current[0].className.replace(" active", "");
  this.className += " active";
  });
}
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/js/bootstrap-select.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="/assets/masar_portal_oldtimer/oldtimer/js/flag.js"></script>
<script>$(function(){
$('.selectpicker').selectpicker();
});
</script>

<script>

function myFunction(e){
    document.getElementById("myText").value = e.target.value;

}
</script>
<script>

function mFunction(e){
    document.getElementById("myText2").value = e.target.value;

}
</script>
